header {
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
}

.header-article {
    color:blueviolet

}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-nav-list {
    list-style-type: none;
    text-decoration: none;
}