.text {
    font-size: 18px;
    color: black;
    margin: 0px;
}

.btn-red{
    background-color: red;
    font-weight: bold;
    color: white;
}

.btn-orange{
    background-color: orange;
}

.btn-orange:hover,
.btn-red:hover {
    cursor: pointer;
    text-decoration: underline;
    font-style: italic;
    font-size: 16px;
    color: #0A58CA;
}