.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/orecchiette.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: #ffd507;
    font-size: 36px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main-content-title {
    font-size: 42px;
    font-weight: bold;
    line-height: 2;
    padding-bottom: 30px;
}

.main-content-text {
    font-size: 24px;
}

.main-acc {
    margin: 100px 0;
}

.link {
    text-decoration: underline;
    color: white;
    padding: 0 10px;
}

.link:hover {
    font-style: italic;
    color: white;
    font-weight: bold;
}

.recent {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/love-pasta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffd507;
    padding: 60px;
    
}

.recent-title {
    margin: 20px;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
  
}

.recipes-title {
    font-size: 42px;
    font-weight: bold;
    line-height: 2;
    padding-bottom: 30px;
    margin: 0;
}

.recipes-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}