.login {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.login-form {
    background: transparent;
    margin: 100px;
    position: relative;
    left: -410px;
    width: 600px;
    text-align: center;
    /* box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    padding: 20px 70px 70px;
}

.login-form-title {
    font-size: 32px;
}

.login-form-field {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

.login-form-field-label {
    font-weight: bold;
    margin-bottom: 10px;
}

.input {
    width: 250px;
}

.form-button {
    padding: 10px 25px;
    margin: 15px 15px 0;
    font-size: 16px;
    border-radius: 10px;
    background: gray;
    color: white;
}

.form-button:hover {
    font-weight: bold;
    background: rgb(49, 46, 46);
    color: white;
}

.link {
    color: white;
}

.link:hover {
    color: rgb(255, 251, 6);
    font-weight: bold;
}